---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import Modal from "@components/Modal.astro";

class DiscClass {
	imgSrc: string;
	year: string;
	title: string;
	audioSrc: string;

	constructor( imgSrc:string, year:string, title:string, audioSrc: string) {
		this.imgSrc = imgSrc;
		this.year = year;
		this.title = title;
		this.audioSrc = audioSrc;
	}
}

const discs: Array<DiscClass> = [
	new DiscClass("img/albert_1_vinilo.jpg", "Disco 1", "??", "sounds/sonido_1.m4a"),
	new DiscClass("img/alberto_1_vinilo.jpg", "Disco 2", "??", "sounds/sonido_2.m4a"),
	new DiscClass("img/aline_1_vinilo.jpg", "Disco 3", "??", "sounds/sonido_3.m4a"),
	new DiscClass("img/carolina_1_vinilo.jpg", "Disco 4", "??", "sounds/sonido_4.m4a"),
	new DiscClass("img/javi_1_vinilo.jpg", "Disco 4", "??", "sounds/sonido_2.m4a"),
]
---

<Layout>
	<h1 class="w-100 text-center my-3" contenteditable="true">Feliz cumpleaños</h1>

	<div class="flex flex-wrap gap-2 justify-center">
		{
			discs.map( (disc) => (
				<Card discImgSrc={disc.imgSrc} discYear={disc.year} discTitle={disc.title} discAudioSrc={disc.audioSrc}></Card>
			))
		}
	</div>

	<div class="hidden text-sm text-gray-400">
		<ul>
			<li>Music from #Uppbeat (free for Creators!):</li>
			<li>https://uppbeat.io/t/pryces/music-is</li>
			<li>License code: YY1BSGYEXEYZSFXS</li>
		</ul>
	</div>

</Layout>