---
import { Props } from 'astro';

const {audioSrc, discIndex} = Astro.props as Props;

const audioId=`play-btn-pause-${discIndex}`;

---
<div class="audio-player gap-2">
    <audio loop class="audio" src={audioSrc}></audio>
    <button class="play-pause-btn" data-is-playing="0" id={audioId}></button>
    <div class="progress-bar"></div>
</div>

<script src="js/confetti.min.js" is:inline></script>
<script>

  function buildConfettiAction(id: string){

      // Pass `in the id of an element
      let confettiAction = new Confetti(id);

      // Edit given parameters
      confettiAction.setCount(75);
      confettiAction.setSize(1);
      confettiAction.setPower(25);
      confettiAction.setFade(false);
      confettiAction.destroyTarget(false);

  }
  function buildConfettiBtn() {

    let btns = document.querySelectorAll('.play-pause-btn')

    btns.forEach(btn => {
      buildConfettiAction(btn.id)
    })

  }
  
  document.addEventListener('DOMContentLoaded', () => {
    buildConfettiBtn();
  })
</script>

<style>
    .audio-player {
      display: flex;
      align-items: center;
    }
    
    .audio {
      display: none;
    }
    
    .play-pause-btn {
      min-width: 20%;
      height: 50px;
      background-image: url('/img/play-button-arrowhead.png'); /* Cambia play.svg por la imagen del botón de play */
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      cursor: pointer;
    }
    
    .play-pause-btn.playing {
      background-image: url('/img/pause-button-arrowhead.png'); /* Cambia pause.svg por la imagen del botón de pause */
    }
    
    .progress-bar {
      height: 5px;
      width: 80%;
      background-color: #ddd;
    }
    
</style>