---
const {image} = Astro.props as Props;
const bgImage = `background-image: url('${image}');`;
---

<div class="disc disc-play disc-pause my-3" style={bgImage}>
    <div class="etiqueta"></div>
</div>